<h1>About</h1>
<p>An exclusive social site for Startups to post their cliched HR projects and issues in the form of Freelance Timebound Projects along with their budgets; for the HR Experts to pick and choose suitable projects (based on their expertise) and provide On Demand Solutions, as a mentor! Though this is open for all HR Experts, the focus is to bring in the Retired and Returning HR Folks who would be excited to guide Startups with all their experience.</p>
